body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

.hidden {
    display: none;
}

/* LOGIN */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card {
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

/* DASHBOARD */
.dashboard {
    padding: 20px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
}

/* SALDO */
.balance-card {
    background: linear-gradient(135deg, #4f46e5, #22c55e);
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
}

/* TARJETA */
.card-virtual {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #4f46e5;
    }

    to {
        box-shadow: 0 0 20px #22c55e;
    }
}

/* BOTONES */
button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

    button:hover {
        background: #6366f1;
    }

input, select {
    display: block;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* HISTORIAL */
.historial {
    margin-top: 20px;
}

    .historial ul {
        list-style: none;
        padding: 0;
    }

    .historial li {
        background: rgba(255,255,255,0.05);
        padding: 10px;
        margin: 5px 0;
        border-radius: 10px;
    }
